.edit-list {
    background-color: var(--background-list-color);
    width: 100%;
    height: 100vh;
}

.edit-list .list-header {
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 0 10px;
    box-sizing: border-box;
}

.edit-list .list-header .back-icon {
    width: 16px;
        height: auto;
}

.edit-list .list-header a {
    height: 16px;
}

.edit-list .list-title {
    width: -webkit-fill-available;
    background: unset;
    outline: none;
    border: none;
    color: var(--color);
    font-size: 1.3rem;
    font-weight: bold;
    padding: 0;
}
.save-button {
    height: 25px;
}
.save-button svg {
    height: 100%;
    width: auto;
}
.edit-list .line {
    height: 1px;
    background: #4d4d4d;
}

.edit-list .list-items {
    font-size: 0.9rem;
    list-style-type: none;
    padding-left: 15px;
}

.edit-input-item {
    background: unset;
    outline: none;
    border: none;
    color: var(--color);
    padding: 0;
}

.edit-list .list-item {
    display: flex;
    gap: 5px;
    margin: 5px 0;
}