@import url('https://fonts.googleapis.com/css?family=Nunito:800i&display=swap');

colors {
    color: #141414;
    color: #272727;
    color: #3a3a3a;
}
:root {
    --color: #fff
}
body {
    /* font-family: 'Nunito', sans-serif; */
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', sans-serif;
    font-size: 12px;
    margin: 0;
    background-color: #141414;
    color: var(--color);
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* width: 100%; */
    /* height: 100vh; */
}

.error {
    color: #cf0000;
    font-size: 30px;
    margin-top: 30px;
    text-align: center;
}